* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  list-style: none;
  scrollbar-width: thin;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #f5f5f5;
  padding-top: 50px;
  background: #292929;
  overflow: hidden;
}

h3 {
  width: 150px;
  height: 30px;
  padding: 3px;
  color: #ffae00;
  margin: auto;
}

#container {
  display: flex;
  flex-direction: column;
  background: #464646d0;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.322);
  width: 45%;
  height: 450px;
  margin: auto;
}


#task {
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  background: #ffffff;
  border: 1px solid #c1c1c1;
}

#btn {
  background: #2e73a1;
  color: #fff;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 5px;
  transition: .1s;
}

#listContainer {
  margin-top: 20px;
  max-height: 450px;
  overflow-y: auto;
  padding: 10px 5px;
  border-radius: 5px;
}

li{
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px;
  min-height: 30px;
  margin-bottom: 8px;
  border-radius: 5px;
  background: transparent;
  width: 95%;
  word-wrap: break-word;
  overflow: hidden;
  z-index: 1;
  border: 1px solid #fbff00;
  font-weight: 600;
  color: #fff;
}

li::before{
  position: absolute;
  content: '';
  right: 0;
  background: #2929298e;
  filter: blur(3px);
  inset: 0;
  z-index: -1;
}

span {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 0;
  color: #fbff00;
  background: #ff0000;
  cursor: pointer;
  height: 100%;
  width: 40px;
  transition: .2s;
}

#btn:hover {
  background: #296288;
}

#btn:active {
  transform: scale(0.95);
}

span:hover {
  background: #fbff00;
  color: #ff0000;
  border-radius: 5px;
}

span:active {
  transform: scale(0.95);
}

i{
  margin: auto;
}

.msg-div{
  position: absolute;
  right: 5px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.msg{
  width: 200px;
  min-height: 50px;
  word-wrap: break-word;
  background: #0269c9;
  border-radius: 5px;
  margin: 2px 0px;
  padding: 5px 10px;
  color: #fff;
  display: flex;
  flex-direction: row;
  animation: popupAnimation 6s ease-in-out;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}

@keyframes popupAnimation{
  0%{
    opacity: 0%;
    transform: translate(200px);
  }
  20%{
    opacity: 90%;
    transform: translate(0px);
  }

  90%{
    opacity: 90%;
    transform: translate(0px);
  }

  100%{
    opacity: 0%;
    transform: translate(200px);
  }
}